* {
    font-family: 'Inter', sans-serif;
}

.navigasi {
    background-color: #21bf73;
    box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.brand {
    box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25) !important;
}

.nama-logo {
    width: 7rem;
    font-size: 15px;
}

.nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 5px solid rgba(249, 252, 251, 1);
    width: 100%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -10px;
}

.shadow-papan {
    box-shadow: 2px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.text-orange {
    color: rgba(253, 94, 83, 1);
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
}

.text-hijau {
    color: rgba(33, 191, 115, 1);
}

.font-size-paragraph {
    font-size: 13px;
}

.paragraph {
    text-indent: 3rem;
}

.sidebar {
    max-height: 640px;
    overflow: scroll;
    border: 6px solid #21bf73;
    border-radius: 20px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.card {
    border: none;
}

.card-img-top {
    border-radius: 15px;
}

.title {
    border: 2px solid #21bf73;
    background-color: #21bf73;
    padding: 10px;
    font-size: 20px;
}

.tambah-margin {
    margin-right: 5rem;
}

.zz {
    border: 2px solid black;
    height: 70px;
}

.zzz {
    border: 2px solid blue;
    height: 70px;
}