* {
  margin: 0;
  padding: 0;
  border: 0;
}

nav {
  background-color: #21bf73;
}

main {
  padding-top: 4rem;
}

div.bg-card {
  background-color: #21bf73;
  z-index: 2;
}

main form h3 {
  padding-top: 2rem;
  font-weight: 500;
  text-align: center;
}

footer {
  background-color: #21bf73;
}
